<div class="leftMenu" id="leftMenu">
  <div class="leftMenu__title">
    <p>ADMIN PAGE</p>
  </div>
  <div class="leftMenu__content">
    <div class="huhu" routerLinkActive="active">
      <a aria-current="page" routerLink="/" class="nav-link">
        <div class="leftMenu__content__item">
          <span><mat-icon class="icon-leftmenu">home</mat-icon></span>
          <p class="padding15">Trang chủ</p>
        </div>
      </a>
    </div>
    <div class="line-bottom"></div>

    <div class="huhu" routerLinkActive="active">
      <a routerLink="/khachhang" class="nav-link">
        <div class="leftMenu__content__item">
          <span><mat-icon class="icon-leftmenu">group</mat-icon></span>
          <p class="padding15">Danh sách khách hàng</p>
        </div>
      </a>
    </div>
    <div class="line-bottom"></div>

    <div class="huhu" routerLinkActive="active">
      <a routerLink="/xe" class="nav-link">
        <div class="leftMenu__content__item">
          <span><mat-icon class="icon-leftmenu">airport_shuttle</mat-icon></span>
          <p class="padding15">Danh sách xe</p>
        </div>
      </a>
    </div>
    <div class="line-bottom"></div>

    <div class="huhu" routerLinkActive="active">
      <a routerLink="#" class="nav-link">
        <div class="leftMenu__content__item">
          <span><mat-icon class="icon-leftmenu">receipt</mat-icon></span>
          <p class="padding15">Hợp đồng thuê</p>
        </div>
      </a>
    </div>
    <div class="line-bottom"></div>
  </div>
</div>

