<div class="khachhang">
  <div class="khachhang__title">
    <p>Danh Sách Xe Du Lịch</p>
  </div>
  <div class="khachhang__content">
    <div class="khachhang__content__title">
      <div class="khachhang__content__subtitle">
        <p>Mã xe</p>
      </div>
      <div class="khachhang__content__subtitle">
        <p>Tên xe</p>
      </div>
      <div class="khachhang__content__subtitle">
        <p>Hãng xe</p>
      </div>
      <div class="khachhang__content__subtitle">
        <p>Loại xe</p>
      </div>
      <div class="khachhang__content__subtitle">
        <p>Màu</p>
      </div>
      <div class="khachhang__content__subtitle">
        <p>Ngày mua</p>
      </div>
      <div class="khachhang__content__subtitle">
        <p>Giá</p>
      </div>
      <div class="khachhang__content__subtitle">
        <p>Biển kiểm soát</p>
      </div>
      <div class="khachhang__content__subtitle">
        <p>Tình trạng</p>
      </div>
      <div class="khachhang__content__subtitle red">
        <span>Total: </span><span>{{totalXe}}</span>
      </div>
    </div>
    <div class="khachhang__content__filter">
      <div class="khachhang__content__filter__item">
        <input class="filter-input" type="number" [(ngModel)]="id" placeholder="Lọc theo mã">
      </div>
      <div class="khachhang__content__filter__item">
        <input class="filter-input" type="text" [(ngModel)]="tenxe" placeholder="Lọc theo tên">
      </div>
      <div class="khachhang__content__filter__item">
        <input class="filter-input" type="text" [(ngModel)]="hang" placeholder="Lọc theo hãng">
      </div>
      <div class="khachhang__content__filter__item">
        <input class="filter-input" type="text" [(ngModel)]="loaixe" placeholder="Lọc theo loại">
      </div>
      <div class="khachhang__content__filter__item">
        <input class="filter-input" type="text" [(ngModel)]="mau" placeholder="Lọc theo màu">
      </div>
      <div class="khachhang__content__filter__item">
        <input class="filter-input filter-padding" type="date" [(ngModel)]="purchDate" placeholder="Lọc theo ngày mua">
      </div>
      <div class="khachhang__content__filter__item">
        <input class="filter-input" type="text" [(ngModel)]="price_per_day" placeholder="Lọc theo giá">
      </div>
      <div class="khachhang__content__filter__item">
        <input class="filter-input" type="text" [(ngModel)]="bienkiemsoat" placeholder="Lọc biển kiểm soát">
      </div>
      <div class="khachhang__content__filter__item">
        <select class="filter-select" [(ngModel)]="tinhtrang">
          <option value="*">Tất cả</option>
          <option value="true">Rãnh</option>
          <option value="false">Được thuê</option>
        </select>
      </div>
    </div>
    <div class="khachhang__content__item"
      *ngFor="let item of xe | slice: (curPage * pageSize) - pageSize :curPage * pageSize | xePipe : id : tenxe : hang : loaixe : mau : purchDate : price_per_day : tinhtrang : bienkiemsoat">
      <div class="khachhang__content__subitem">
        <p>{{item.id}}</p>
      </div>
      <div class="khachhang__content__subitem">
        <p>{{item.tenxe}}</p>
      </div>
      <div class="khachhang__content__subitem">
        <p>{{item.hang}}</p>
      </div>
      <div class="khachhang__content__subitem">
        <p>{{item.loaixe}}</p>
      </div>
      <div class="khachhang__content__subitem">
        <p>{{item.mau}}</p>
      </div>
      <div class="khachhang__content__subitem">
        <p>{{item.purchDate | date : "dd/MM/yyyy"}}</p>
      </div>
      <div class="khachhang__content__subitem">
        <p>{{item.price_per_day | number: '1.0-3'}} /ngày</p>
      </div>
      <div class="khachhang__content__subitem">
        <p>{{item.bienkiemsoat}}</p>
      </div>
      <div class="khachhang__content__subitem" *ngIf="item.tinhtrang === true">
        <p>{{item?.tinhtrang | tinhtrangxePipe}}</p>
      </div>
      <div class="khachhang__content__subitem" *ngIf="item.tinhtrang === false">
        <p>{{item?.tinhtrang | tinhtrangxePipe}}</p>
      </div>
      <div class="khachhang__content__subitem flex">
        <div class="khachhang__button__chucnang">
          <button class="bg-button1" (click)="opensweetalert(item.id, item.tenxe)"><mat-icon>delete</mat-icon></button>
        </div>
        <div class="khachhang__button__chucnang">
          <button (click)="editXe(item.id)" type="button" class="btn btn-default bg-button" data-dismiss="modal">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="khachhang__button">
    <button mat-raised-button color="warn" (click)="AddXe()">Thêm mới</button>
  </div>
  <div class="pagination">
    <button class="pagination-button" [disabled]="curPage == 1" (click)="curPage = curPage - 1">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="pagination-flex">Page {{curPage}} of {{ numberOfPages() }}</span>
    <button class="pagination-button" [disabled]="curPage >= xe.length/pageSize" (click)="curPage = curPage + 1">
      <mat-icon>arrow_forward</mat-icon>
    </button>

  </div>
</div>
