button {
  font-size: 20px;
}
p {
  margin: 0;
}
.khachhang {
  width: 100%;
  height: auto;
  padding: 45px 0;
}
.khachhang__title {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #3c454e;
  padding: 10px 0;
}
.khachhang__content {
  width: 100%;
  max-height: auto;
  min-height: 300px;
  margin: 30px auto;
  font-size: 14px;
  font-weight: bolder;
}
.khachhang__content__title {
  width: 100%;
  height: auto;
  display: flex;
  padding: 15px 0;
}
.khachhang__content__subtitle {
  width: Calc(100% / 3);
  height: auto;
  text-align: center;
  padding: 10px 0;
}
.khachhang__content__filter {
  width: 100%;
  height: auto;
  display: flex;
}
.khachhang__content__filter__item {
  width: Calc(100% / 3);
  height: auto;
  text-align: center;
}
.input__filter {
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin: 5px 0;
  border: 1px solid #5a55552e;
}
.khachhang__content__item {
  width: 100%;
  height: auto;
  display: flex;
}
.khachhang__content__subitem {
  width: Calc(100% / 3);
  height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pointer {
  cursor: pointer;
}
.td-item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.button-item {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
}
.text-center {
  text-align: center;
}
.width100 {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1;
  text-align: center;
}
.red {
  color: #b17575;
}
input {
  border: 2px solid rgb(144 126 126 / 22%);
}
.khachhang__button__chucnang {
  width: 30%;
  height: auto;
  display: flex;
    justify-content: center;
}
.flex {
  display: flex;
  justify-content: center;
}
.bg-button {
  background-color: white !important;
  border: none;
  padding: 0;
  margin: 3px 0 0 0;
}
.bg-button1 {
  background-color: white !important;
  border: none;
  padding: 0px 0 3px 0
}
.bg-button:hover{
  background-color: white;
}
.bg-button1:hover{
  background-color: white !important;
}
.center{
  text-align: center;
  padding: 20px 0;
}
.white{
  color: white;
}
.Gia-modal{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}
.width25{
  width: 25%;
}
.darkred{
  color: #a91515;
}
.pagination{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.pagination-flex{
  display: flex;
  align-items: center;
}
.pagination-button{
  border: none;
}
.khachhang__button{
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px 0
}
.filter-input{
  width: 100%;
  font-size: 15px;
  text-align: center;
  color:rgba(0, 0, 0, 0.411);
}
.filter-select{
  width: 100%;
  border: none;
  padding: 3px 0;
  font-size: 16px;
  text-align-last:center
}
.subitem-textarea{
  width: 100%;
  min-width: 100%;
  height: auto;
  max-height: 100px;
  overflow: hidden;
  border: none;
}
.size-10{
  font-size: 13px;
}
input,
input::-webkit-input-placeholder {
    font-size: 16px;
}
button {
  border: none;
  background: white;
}
textarea.subitem-textarea {
  text-align: center;
  font-weight: bold;
}
